 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
 header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f8f9fa;
        }
.slackProfilePicture img {
            width: auto;
            height: auto;
        }
.current-time, .currentEmail {
            margin: 10px 0;
        }
.currentEmail input[type="email"], .currentEmail input[type="submit"] {
            display: block;
            margin-top: 5px;
        }
.SlackDisplayName{
            text-align: center;
         }
.mything {
            padding: 20px;
            margin-top: 15vh;
            margin-bottom: 15vh;
            text-align: center;
        }
nav ul {
            list-style-type: none;
            padding: 0;
        }
nav ul li {
            margin: 10px 0;
        }
nav ul li a {
            text-decoration: none;
            color: #007bff;
        }
footer .footer{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            padding: 2rem;
            text-align: center;
            font-size: 15px;
        }

/* Responsive Styles */
@media (max-width: 768px) {
header {
             flex-direction: column;
            align-items: flex-start;
            }
.slackProfilePicture, .current-time, .currentEmail {
                width: 100%;
            }
.currentEmail input[type="email"], .currentEmail input[type="submit"] {
                width: calc(100% - 20px);
                margin-left: 10px;
            }
        }
